<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookYourScreen</title>
	<style type="text/css">
		body{
			height: 405px;
			background-color: #f8f9d2;
			background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
			display: flex;
			background-repeat: no-repeat;
			justify-content: center;
			align-items: center;
		}
		.container{
			display: flex;
			border-left: 5px dotted rgb(184, 176, 156);
			border-top: 5px dotted rgb(184, 176, 156);
			border-right: 5px dotted white;
			border-bottom:  5px dotted white;
			/*border: 4px outset rgb(184, 176, 156);)*/
			justify-content: center;
			align-items: center;
			padding: 10px;
			width: 500px;
			background-color: #fffffc;
			background-image: linear-gradient(315deg, #fffffc 0%, #beb7a4 74%);
		}
		.head{
			border-left:  6px dotted rgb(71, 25, 40);
			box-shadow: -5px 0px 0px 0px rgb(71, 25, 40),4px 4px 2px grey;

			display: flex;
			padding: 20px;
			height: 300px;
			background-color: #6b0f1a;
			background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);

			
		}
		.content{
			margin-top: 60px;
		}
		input[type=email]{
			border: none;
			border-bottom: 2px solid black;
			background-color: transparent;
			width: 100%;

		}
		input[type=password]{
			border: none;
			border-bottom: 2px solid black;
			background-color: transparent;
			width: 100%;

		}
		::placeholder{
			color: white;
			opacity: 0.7;
		}
		button{
			background-color: #7ed6df;
			background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%);
			width: 200px;
			color: white;
			border-radius: 50px;
		}
		i{
			position: absolute;
			left: 635px;
			cursor: pointer;
			color: black;
			top: 215px;
		}
		i:active{
			color: gray;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="head">
			<form action="login" method="POST">
				<p style="text-align: center; color: rgb(214, 206, 186); font-size: 25px; text-shadow: 2px 1px 2px white">
					WELCOME
				</p>
				<div class="content">
					<input type="email" placeholder="Email" name="email" required><br><br>
					
					<input type="password" placeholder="Password" id="password" name="password" required><br><br>
					
					<button >Login</button>
				</div>
				<p style="text-align: center; color: rgb(214, 206, 186); margin-top: 70px;">Don't have an account?<a style="color: rgb(196, 139, 158); text-decoration: none; font-size: 17px;" href="/user/signupView"><b>SignUp</b></a></p>
			</form>
		</div>

	</div>
</body>
</html>